<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- Loading the custom motions, guest locations and features for disambiguation into the parameter server -->
    <rosparam command="load" file="$(find pointing_recognition)/config/motions.yaml" />
    <rosparam command="load" file="$(find pointing_recognition)/config/locations.yaml" />
    <rosparam command="load" file="$(find pointing_recognition)/config/features.yaml" />

    <!-- Launching packages used alongside pointing_recognition -->
    <node pkg="lasr_pcl" type="transform_cloud_server" name="transform_cloud_server" respawn="true" output="screen"/>
    <node pkg="lasr_object_detection_yolo" type="object_detection_server.py" name="yolo_object_detection_server" respawn="true" output="screen"/>
    <node pkg="jeff_segment_objects" type="jeff_segment_objects_node" name="segment_objects_server" respawn="true" output="screen"/>

</launch>
